# Examples of Basic Data Types

In [1]:
dna_seq = "ATGCGA"

In [2]:
print(dna_seq)

ATGCGA

In [4]:
print(type(dna_seq))

<class 'str'>

In [5]:
gene_count = 1532

In [6]:
print(gene_count)

1532

In [7]:
print(type(gene_count))

<class 'int'>

In [8]:
gc_content = 53.7

In [9]:
print(gc_content)

53.7

In [10]:
print(type(gc_content))

<class 'float'>

In [11]:
is_expressed = True

In [12]:
print(is_expressed)

True

In [13]:
print(type(is_expressed))

<class 'bool'>

# Example of mixing data types incorrectly

In [14]:
dna = "ATG"
print(dna)

ATG

In [15]:
count = 5
print(count)

5

In [16]:
result = dna + count

TypeError: can only concatenate str (not "int") to str

In [17]:
dna = "ATG"
count = 5
result = dna + count
print(result)

TypeError: can only concatenate str (not "int") to str