## Creating a list of DNA sequences

In [25]:
dna_list = ["ATG", "CGT", "TTA"]
print(dna_list)

['ATG', 'CGT', 'TTA']

## Adding items

In [26]:
dna_list.append("GGC")
print("After append: ", dna_list)

After append:  ['ATG', 'CGT', 'TTA', 'GGC']

In [27]:
dna_list.insert(1, "AAC")
print("After insert at index 1: ", dna_list)

After insert at index 1:  ['ATG', 'AAC', 'CGT', 'TTA', 'GGC']

In [28]:
dna_list.extend(["CGA", "TTG"])
print("After extend: ", dna_list)

After extend:  ['ATG', 'AAC', 'CGT', 'TTA', 'GGC', 'CGA', 'TTG']

## `append`, `insert`, and `extend` modify the list in place

In [31]:
dna_list = ["ATG", "CGT"]

# this will modify dna_list directly
dna_list.append("TTA")
print("After append: ", dna_list)

After append:  ['ATG', 'CGT', 'TTA']

In [32]:
dna_list = ["ATG", "CGT"]
dna_list.insert(10, "TTA") # index 10 is way beyond the list size
print("After insert at index 10: ", dna_list)

After insert at index 10:  ['ATG', 'CGT', 'TTA']

In [33]:
dna_list = ["ATG", "CGT", "GGC"]

dna_list.insert(-1, "AAC")
print("After insert at index -1: ", dna_list)

After insert at index -1:  ['ATG', 'CGT', 'AAC', 'GGC']

## Removing items

In [35]:
dna_list = ["ATG", "AAC", "CGT"]
print(dna_list)

['ATG', 'AAC', 'CGT']

In [36]:
dna_list.remove("AAC")
print("After remove: ", dna_list)

After remove:  ['ATG', 'CGT']

In [37]:
dna_list = ["ATG", "CGT", "TTA", "GGC"]
print(dna_list)

['ATG', 'CGT', 'TTA', 'GGC']

In [39]:
removed_item = dna_list.pop(2)
print("After pop at index 2: ", dna_list)
print("Popped item: ", removed_item)

After pop at index 2:  ['ATG', 'CGT']
Popped item:  GGC

In [40]:
dna_list.clear()
print("After clear: ", dna_list)

After clear:  []

## Updating items

In [41]:
dna_list = ["ATG", "CGT", "TTA"]
dna_list[1] = "GGA"
print("After update: ", dna_list)

After update:  ['ATG', 'GGA', 'TTA']

In [42]:
dna_list[4] = "AGG"

IndexError: list assignment index out of range

In [43]:
dna_list[0:2] = ["AAA", "CCC"]
print("After slice update: ", dna_list)

After slice update:  ['AAA', 'CCC', 'TTA']

## Searching and Counting

In [45]:
dna_list = ["ATG", "CGT", "TTA", "ATG", "CGT"]
print("Index of 'TTA': ", dna_list.index("TTA"))
print("Count of 'ATG': ", dna_list.count("ATG"))

Index of 'TTA':  2
Count of 'ATG':  2

## Sorting and Reversing

In [46]:
numbers = [42, 7, 100, 25]
numbers.sort()
print("Sorted ascending: ", numbers)

Sorted ascending:  [7, 25, 42, 100]

In [47]:
numbers.sort(reverse = True)
print("Sorted descending: ", numbers)

Sorted descending:  [100, 42, 25, 7]

In [48]:
numbers.reverse()
print("Reversed order: ", numbers)

Reversed order:  [7, 25, 42, 100]

## Combining lists

In [49]:
list1 = ["ATG", "TTA"]
list2 = ["GGC", "CGA"]

combined = list1 + list2
print("Concatenated: ", combined)

Concatenated:  ['ATG', 'TTA', 'GGC', 'CGA']

In [50]:
repeated = list1 * 2
print("Repeated: ", repeated)

Repeated:  ['ATG', 'TTA', 'ATG', 'TTA']

In [51]:
list1.extend(list2)
print("After extend: ", list1)

After extend:  ['ATG', 'TTA', 'GGC', 'CGA']