# Defining a String

In [2]:
dna_sequence_1 = 'ATGCGTTAAC'
print(dna_sequence_1)
print(type(dna_sequence_1))

ATGCGTTAAC
<class 'str'>

In [4]:
dna_sequence_1 = "TTTTAAAA"
print(dna_sequence_1)
print(type(dna_sequence_1))

TTTTAAAA
<class 'str'>

In [5]:
dna_sequence_1 = CGCGCGCG
print(dna_sequence_1)
print(type(dna_sequence_1))

NameError: name 'CGCGCGCG' is not defined

In [7]:
gene_name = 'BRCA1'
print(gene_name)
print(type(gene_name))

BRCA1
<class 'str'>

# String Indexing

In [11]:
dna_sequence_2 = "TGAGGC"
first_base = dna_sequence_2[0]
second_base = dna_sequence_2[1]

last_base = dna_sequence_2[-1]
second_last = dna_sequence_2[-2]

print(first_base)
print(second_base)
print(last_base)
print(second_last)

T
G
C
G

In [13]:
print("First Base in our DNA Sequence is: ", first_base)
print("Second Base in our DNA Sequence is: ", second_base)
print("Last Base in our DNA Sequence is: ", last_base)
print("Second Last Base in our DNA Sequence is: ", second_last)

First Base in our DNA Sequence is:  T
Second Base in our DNA Sequence is:  G
Last Base in our DNA Sequence is:  C
Second Last Base in our DNA Sequence is:  G

# String Slicing

In [18]:
dna_sequence_3 = 'ACGTAGC'
first_three = dna_sequence_3[0:3]
print(first_three)

next_three = dna_sequence_3[3:6]
print(next_three)

from_start = dna_sequence_3[:4]
print(from_start)

to_end = dna_sequence_3[4:]
print(to_end)

entire_sequence = dna_sequence_3[:]
print(entire_sequence)

ACG
TAG
ACGT
AGC
ACGTAGC

In [25]:
# example showing how step values work
dna_sequence_3 = 'ACGTAGC'

every_second_base = dna_sequence_3[0:7:2] #step = 2
print(every_second_base)

reverse_every_second = dna_sequence_3[::-2] #step = -2
print(reverse_every_second)

print(dna_sequence_3[::1])
print(dna_sequence_3[::])
print(dna_sequence_3[:])

AGAC
CAGA
ACGTAGC
ACGTAGC
ACGTAGC

In [27]:
# reversing a DNA sequence
dna_sequence_4 = "GATTACA"
reversed_sequence = dna_sequence_4[::-1]
print(reversed_sequence)
print(dna_sequence_4[::-1])

ACATTAG
ACATTAG

# String Concatenation

In [28]:
dna_sequence_5 = 'ATG'
dna_sequence_6 = "CGT"
combined_sequence = dna_sequence_5 + dna_sequence_6
print(combined_sequence)

ATGCGT

In [29]:
combined_sequence_2 = "ATGC" + "CCCC"
print(combined_sequence_2)

ATGCCCCC

# Adding Strings to Integers or Vice Versa

In [30]:
result = dna_sequence_5 + 5

TypeError: can only concatenate str (not "int") to str

In [32]:
result = dna_sequence_5 + str(5)
print(result)

ATG5

# Length of a String

In [34]:
dna_sequence_7 = "AAGCTT"
sequence_length = len(dna_sequence_7)
print(sequence_length)
print(len(dna_sequence_7))

6
6

In [35]:
print(len("ATGACATA"))

8