# Creating tuples in Python

In [19]:
# Tuple of codons
codons = ("ATG", "CGT", "TTA")
print("Tuple of codons: ", codons)

Tuple of codons:  ('ATG', 'CGT', 'TTA')

In [20]:
# Tuple of gene names
genes = ("BRCA1", "TP53", "EGFR")
print("Tuple of gene names: ", genes)

Tuple of gene names:  ('BRCA1', 'TP53', 'EGFR')

In [21]:
# Tuple of read counts
read_counts = (250, 300, 500)
print("Tuple of read counts: ", read_counts)

Tuple of read counts:  (250, 300, 500)

In [22]:
# Checking the type of a tuple
print("Type of codons variable: ", type(codons))

Type of codons variable:  <class 'tuple'>

# Tuple indexing and slicing

In [25]:
# Creating a tuple of DNA sequences
dna_tuple = ("ATG", "AAA", "CGC", "TAG")
print("Original DNA tuple: ", dna_tuple)

# Accessing elements using positive indexing
first_codon = dna_tuple[0]
print("First codon (index 0): ", first_codon)

second_codon = dna_tuple[1]
print("Second codon (index 1): ", second_codon)

Original DNA tuple:  ('ATG', 'AAA', 'CGC', 'TAG')
First codon (index 0):  ATG
Second codon (index 1):  AAA

In [27]:
# Accessing elements using negative indexing
last_codon = dna_tuple[-1]
print("Last codon (index -1): ", last_codon)

second_last_codon = dna_tuple[-2]
print("Second last codon (index -2): ", second_last_codon)

Last codon (index -1):  TAG
Second last codon (index -2):  CGC

In [30]:
# Slicing tuples
first_two = dna_tuple[0:2]
print("First two codons (slice 0:2): ", first_two)

from_second = dna_tuple[1:]
print("Codons from second to end (slice 1:): ", from_second)

every_second = dna_tuple[0:4:2]
print("Every second codon (slice 0:4:2): ", every_second)

First two codons (slice 0:2):  ('ATG', 'AAA')
Codons from second to end (slice 1:):  ('AAA', 'CGC', 'TAG')
Every second codon (slice 0:4:2):  ('ATG', 'CGC')

In [32]:
# Reversing the tuple
reversed_tuple = dna_tuple[::-1]
print("Reversed DNA tuple: ", reversed_tuple)
print("Original DNA tuple: ", dna_tuple)

Reversed DNA tuple:  ('TAG', 'CGC', 'AAA', 'ATG')
Original DNA tuple:  ('ATG', 'AAA', 'CGC', 'TAG')

# Immutability: tuples cannot be changed once created

In [34]:
dna_tuple = ("ATG", "CGT", "TTA")
print("Orignal tuple: ", dna_tuple)

# Attempting to change an element will raise an error
# Uncommenting the next line will cause a TypeError
# dna_tuple[0] = "AAA"
dna_tuple[0] = "AAA"

Orignal tuple:  ('ATG', 'CGT', 'TTA')

TypeError: 'tuple' object does not support item assignment

In [35]:
# Concatenation: combining tuples
extra_codons = ("CGC", "TTA")
combined_tuple = dna_tuple + extra_codons
print("After concatenation: ", combined_tuple)

After concatenation:  ('ATG', 'CGT', 'TTA', 'CGC', 'TTA')

In [38]:
# Repetition: repeating tuples
repeated_tuple = dna_tuple * 2
print("After repetition: ", repeated_tuple)

After repetition:  ('ATG', 'CGT', 'TTA', 'ATG', 'CGT', 'TTA')

In [40]:
# Membership: check if an item is in a tuple
print("Is 'CGT' in dna_tuple? ", "CGT" in dna_tuple)
print("Is 'GGA' in dna_tuple? ", "GGA" in dna_tuple)

Is 'CGT' in dna_tuple?  True
Is 'GGA' in dna_tuple?  False

In [41]:
# Length of a tuple
print("Length of dna_tuple: ", len(dna_tuple))

Length of dna_tuple:  3

In [42]:
# Converting tuple to list to modify
dna_list = list(dna_tuple)
dna_list[0] = "AAA"
dna_tuple_modified = tuple(dna_list)
print("Modified tuple by converting to list and back: ", dna_tuple_modified)

Modified tuple by converting to list and back:  ('AAA', 'CGT', 'TTA')

In [45]:
# Single-element tuple requires a comma
single_wrong = ("ATG") # This is just a string
single_right = ("ATG",) # This is a tuple with one element
print("Type of single_wrong: ", type(single_wrong))
print("Type of single_right: ", type(single_right))

Type of single_wrong:  <class 'str'>
Type of single_right:  <class 'tuple'>

# Tuple unpacking

In [46]:
# We have a tuple containing a chromosome and a position
coord = ("chr1", 12345)

# Unpacking the tuple into two separate variables
chromosome, position = coord
print("Chromosome: ", chromosome)
print("Position: ", position)

Chromosome:  chr1
Position:  12345

# List vs Tuple

In [50]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

print("List: ", my_list)
print("Tuple: ", my_tuple)

# Mutability demonstration
print("\nModifying the list is allowed: ")
my_list[0] = 10
print("Modified list: ", my_list)

print("\n Trying to modify the tuple will cause an error: ")
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error: ", e)

List:  [1, 2, 3]
Tuple:  (1, 2, 3)

Modifying the list is allowed:
Modified list:  [10, 2, 3]

 Trying to modify the tuple will cause an error:
Error:  'tuple' object does not support item assignment

In [51]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment